@charset "UTF-8";
@font-face {
  font-family: "Jost";
  src: url("../includes/jost-300-light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
/*! Marx v4.1.1 - The classless CSS reset (perfect for Communists) | MIT License | https://github.com/mblode/marx */
*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

:where(:root) {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

:where(body) {
  margin: 0;
}

:where(h1) {
  font-size: 2em;
  margin: 0.67em 0;
}

:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}

:where(hr) {
  color: inherit;
  height: 0;
}

:where(nav) :where(ol, ul) {
  list-style-type: none;
  padding: 0;
}

:where(navli):before {
  content: "​";
  float: left;
}

:where(pre) {
  font-family: monospace, monospace;
  font-size: 1em;
  overflow: auto;
}

:where(abbr[title]) {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

:where(b, strong) {
  font-weight: bolder;
}

:where(code, kbd, samp) {
  font-family: monospace, monospace;
  font-size: 1em;
}

:where(small) {
  font-size: 80%;
}

:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

:where(iframe) {
  border-style: none;
}

:where(svg:not([fill])) {
  fill: currentColor;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
  text-indent: 0;
}

:where(button, input, select) {
  margin: 0;
}

:where(button, [type=button i], [type=reset i], [type=submit i]) {
  -webkit-appearance: button;
}

:where(fieldset) {
  border: 1px solid #a0a0a0;
}

:where(progress) {
  vertical-align: baseline;
}

:where(textarea) {
  margin: 0;
  resize: vertical;
}

:where([type=search i]) {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

:where(dialog) {
  background-color: #fff;
  border: solid;
  color: #000;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

:where(dialog:not([open])) {
  display: none;
}

:where(details > summary:first-of-type) {
  display: list-item;
}

:where([aria-busy=true i]) {
  cursor: progress;
}

:where([aria-disabled=true i], [disabled]) {
  cursor: not-allowed;
}

:where([aria-hidden=false i][hidden]) {
  display: initial;
}

:where([aria-hidden=false i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

:root {
  --br:4px;
  --xs-pad:4px;
  --sm-pad:8px;
  --md-pad:16px;
  --lg-pad:20px;
  --xlg-pad:40px;
  --sm-breakpoint:400px;
  --lg-breakpoint:768px;
  --primary-400:#60a5fa;
  --primary:#3b82f6;
  --primary-600:#2563eb;
  --accent:#64ffda;
  --red:#f43f5e;
  --red-600:#dc2626;
  --yellow:#eab308;
  --grey:#f7f7f9;
  --white:#fff;
  --black:#000;
  --text:rgba(0,0,0,.8);
  --secondary:rgba(0,0,0,.54);
  --disabled:rgba(0,0,0,.38);
  --dividers:rgba(0,0,0,.12);
  --link-color:var(--primary);
  --link-hover-color:var(--primary-600);
  --sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --serif:Georgia,Times,"Times New Roman",serif;
  --monospace:Menlo,Monaco,Consolas,"Courier New",monospace;
  --font-family:var(--sans-serif);
  --font-size-base:16px;
  --font-size-sm:14px;
  --font-size-h1:40px;
  --font-size-h2:32px;
  --font-size-h3:28px;
  --font-size-h4:24px;
  --font-size-h5:20px;
  --font-size-h6:16px;
  --line-height-base:1.5;
  --border:1px solid var(--dividers);
}

article, aside, details, footer, header, main, section, summary {
  margin: 0 auto;
  margin-bottom: var(--md-pad);
  width: 100%;
}

main {
  display: block;
  margin: 0 auto;
  max-width: var(--lg-breakpoint);
  padding: 0 var(--md-pad) var(--md-pad);
}

footer {
  border-top: var(--border);
  padding: var(--md-pad) 0;
  text-align: center;
}

footer p {
  margin-bottom: 0;
}

hr {
  border: 0;
  border-top: var(--border);
  box-sizing: content-box;
  display: block;
  height: 0;
  margin-bottom: var(--md-pad);
  margin-top: var(--md-pad);
  overflow: visible;
  width: 100%;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: baseline;
}

@media screen and (max-width: var(--sm-breakpoint)) {
  article, aside, section {
    clear: both;
    display: block;
    max-width: 100%;
  }
  img {
    margin-right: var(--md-pad);
  }
}
embed, iframe, video {
  border: 0;
}

progress {
  background-repeat: repeat;
}

body {
  color: var(--text);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

p {
  margin: 0;
  margin-bottom: var(--md-pad);
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: var(--font-size-h1);
}

h1, h2 {
  margin: var(--lg-pad) 0 var(--md-pad);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h3, h4 {
  margin: var(--md-pad) 0 var(--xs-pad);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h5, h6 {
  margin: var(--md-pad) 0 var(--xs-pad);
}

h6 {
  font-size: var(--font-size-h6);
}

small {
  color: var(--secondary);
  vertical-align: bottom;
}

pre {
  background-color: var(--grey);
  display: block;
  margin: var(--md-pad) 0;
  overflow-wrap: break-word;
  padding: var(--md-pad);
  white-space: pre-wrap;
}

code, pre {
  color: var(--text);
  font-family: var(--monospace);
  font-size: var(--font-size-base);
}

code {
  word-wrap: break-word;
  line-height: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  word-break: break-all;
}

a {
  background-color: transparent;
  color: var(--link-color);
  text-decoration: none;
}

a:focus, a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

dl {
  margin-bottom: var(--md-pad);
}

dd {
  margin-left: var(--xlg-pad);
}

ol, ul {
  margin-bottom: var(--sm-pad);
  padding-left: var(--xlg-pad);
  vertical-align: baseline;
}

blockquote {
  border-left: 2px solid var(--text);
  font-style: italic;
  margin: var(--md-pad) 0;
  padding-left: var(--md-pad);
}

blockquote, figcaption {
  font-family: var(--serif);
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

sup {
  vertical-align: super;
}

sub, sup {
  font-size: var(--font-size-sm);
}

sub {
  vertical-align: sub;
}

mark {
  background-color: var(--yellow);
}

input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
  background: var(--white);
  background-clip: padding-box;
  border: var(--border);
  border-radius: var(--br);
  color: var(--text);
  display: block;
  font-family: var(--sans-serif);
  font-size: 1rem;
  line-height: 1.5;
  padding: var(--sm-pad) var(--md-pad);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
  word-break: normal;
}

input[type=color] {
  background-color: var(--white);
  display: inline-block;
  vertical-align: middle;
}

input:not([type]), input[type=color] {
  border: var(--border);
  border-radius: var(--br);
}

input:not([type]) {
  -webkit-appearance: none;
  background: var(--white);
  background-clip: padding-box;
  color: var(--text);
  display: block;
  line-height: 1.5;
  padding: var(--sm-pad) var(--md-pad);
  text-align: left;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
  word-break: normal;
}

input:not([type]):focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus {
  background-color: var(--white);
  border-color: var(--primary-400);
  box-shadow: 0 0 0 0.2rem rgba(59, 130, 246, 0.5);
  outline: 0;
}

input[type=checkbox]:focus, input[type=file]:focus, input[type=radio]:focus {
  outline: 1px thin var(--dividers);
}

input:not([type])[disabled], input[type=color][disabled], input[type=date][disabled], input[type=datetime-local][disabled], input[type=datetime][disabled], input[type=email][disabled], input[type=month][disabled], input[type=number][disabled], input[type=password][disabled], input[type=search][disabled], input[type=tel][disabled], input[type=text][disabled], input[type=time][disabled], input[type=url][disabled], input[type=week][disabled], select[disabled], textarea[disabled] {
  background-color: var(--dividers);
  color: var(--secondary);
  cursor: not-allowed;
  opacity: 1;
}

input[readonly], select[readonly], textarea[readonly] {
  border-color: var(--dividers);
  color: var(--secondary);
}

input:focus:invalid, select:focus:invalid, textarea:focus:invalid {
  border-color: var(--red-600);
  color: var(--red);
}

input[type=checkbox]:focus:invalid:focus, input[type=file]:focus:invalid:focus, input[type=radio]:focus:invalid:focus {
  outline-color: var(--red);
}

select {
  border: var(--border);
  vertical-align: sub;
}

select:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}

select[multiple] {
  height: auto;
}

label {
  display: inline-block;
  line-height: 2;
}

fieldset {
  border: 0;
  margin: 0;
}

fieldset, legend {
  padding: var(--sm-pad 0);
}

legend {
  border-bottom: var(--border);
  color: var(--text);
  display: block;
  margin-bottom: var(--sm-pad);
  width: 100%;
}

textarea {
  overflow: auto;
  resize: vertical;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  display: inline;
  padding: 0;
}

button, input[type=button], input[type=reset], input[type=submit] {
  background-color: var(--primary);
  border: 1px solid transparent;
  border-radius: var(--br);
  color: var(--white);
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: var(--sm-pad) var(--md-pad);
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button::-moz-focus-inner, input[type=button]::-moz-focus-inner, input[type=reset]::-moz-focus-inner, input[type=submit]::-moz-focus-inner {
  padding: 0;
}

button:hover, button:not(:disabled):active, input[type=button]:hover, input[type=button]:not(:disabled):active, input[type=reset]:hover, input[type=reset]:not(:disabled):active, input[type=submit]:hover, input[type=submit]:not(:disabled):active {
  background-color: var(--primary-600);
  border-color: var(--primary-600);
  color: var(--white);
}

button:focus, input[type=button]:focus, input[type=reset]:focus, input[type=submit]:focus {
  box-shadow: 0 0 0 0.2rem rgba(59, 130, 246, 0.5);
  outline: 0;
}

button:disabled, input[type=button]:disabled, input[type=reset]:disabled, input[type=submit]:disabled {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white);
  cursor: not-allowed;
  opacity: 0.65;
}

table {
  border-top: var(--border);
  margin-bottom: var(--md-pad);
}

caption {
  padding: var(--sm-pad 0);
}

thead th {
  border: 0;
  border-bottom: 2px solid var(--dividers);
  text-align: left;
}

tr {
  margin-bottom: var(--sm-pad);
}

td, th {
  border-bottom: var(--border);
  padding: var(--md-pad);
  vertical-align: inherit;
}

tfoot tr {
  text-align: left;
}

tfoot td {
  color: var(--secondary);
  font-size: var(--sm-pad);
  font-style: italic;
  padding: var(--md-pad) var(--xs-pad);
}

html {
  font-size: 1.3em;
}

h2 {
  font-size: 17px;
}
@media screen and (min-width: 480px) {
  h2 {
    font-size: calc(17px + 24 * (100vw - 480px) / 140);
  }
}
@media screen and (min-width: 620px) {
  h2 {
    font-size: 41px;
  }
}

p {
  font-size: 13px;
}
@media screen and (min-width: 540px) {
  p {
    font-size: calc(13px + 4 * (100vw - 540px) / 80);
  }
}
@media screen and (min-width: 620px) {
  p {
    font-size: 17px;
  }
}

p, h2 {
  font-family: "Jost", system-ui, sans-serif;
}

::-moz-selection {
  background: #9FFEAC;
  color: #232323;
}

::selection {
  background: #9FFEAC;
  color: #232323;
}

html {
  background: rgb(199, 172, 254);
  background: linear-gradient(225deg, rgb(199, 172, 254) 0%, rgb(255, 187, 96) 100%);
  height: 100%;
  padding: 25px;
}

body {
  display: flex;
  height: 100%;
  padding: 0;
  width: 100%;
}

div {
  margin: auto;
  max-width: 768px;
  width: 100%;
}

div.album {
  box-shadow: 0px 25px 15px -10px rgba(0, 0, 0, 0.2), 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.album_wrap {
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  max-width: 768px;
}
.album_wrap.day {
  background: rgb(199, 172, 254);
  background: linear-gradient(225deg, rgb(199, 172, 254) 0%, rgb(255, 187, 96) 100%);
}
.album_wrap.day .bg_night {
  opacity: 0;
}
.album_wrap.night .bg_day {
  opacity: 0;
}

.bg_day {
  position: absolute;
}
.bg_day img {
  mix-blend-mode: multiply;
}

.bg_night {
  position: relative;
}
.bg_night img {
  position: absolute;
}
.bg_night img:nth-child(2) {
  mix-blend-mode: color-dodge;
}

h1 {
  margin: 0;
  padding: 10% 4% 0;
  position: absolute;
  right: 0;
  transition: width 150ms ease-out;
  width: 100%;
}

.tracklist {
  color: #fff;
  opacity: 0;
  padding: 5%;
  position: relative;
  transform: translateY(-10px);
  transition: opacity 0ms, transform 0ms;
  z-index: 10;
}
.tracklist h2 {
  line-height: 1;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.tracklist h2:first-child {
  margin-top: 0;
}

.notice {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 25%;
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
}

.explicit svg path {
  fill: #fff;
}

.fomojis_logo {
  mix-blend-mode: screen;
}
.fomojis_logo img {
  filter: grayscale(100%) brightness(5) invert(1);
  mix-blend-mode: invert;
  transform: scale(2);
}

.lexicon_logo,
.tedy_icon {
  display: none;
  height: 0;
  visibility: hidden;
  width: 0;
}

.tedy_icon svg path {
  fill: #fff;
}

.catyright {
  color: #fff;
  opacity: 0;
  padding-left: 5%;
  padding-right: 5%;
  transform: translateY(-10px);
  transition: opacity 0ms, transform 0ms;
}

.fomoji_914 img,
.fomoji_943 img,
.fomoji_112 img {
  position: absolute;
  bottom: -28%;
  transform: scale(45%);
}

.fomoji_914 img,
.fomoji_943 img {
  transition: all 250ms ease-out;
}

.day > .fomoji_112 img {
  right: -5%;
  top: -28%;
  transform: rotate(180deg) scale(45%);
  transition: position 250ms ease-out;
}
.day > .fomoji_112 img:not(:first-of-type) {
  animation: bobbing_112 3s ease-in-out infinite;
}

.day > .fomoji_914 img {
  bottom: -32%;
  left: -32%;
  transform: rotate(35deg) scale(50%);
}
.day > .fomoji_914 img:not(:first-of-type) {
  animation: bobbing_914 3s ease-in-out infinite;
}

.day > .fomoji_943 img {
  bottom: -32%;
  right: -32%;
  transform: rotate(-35deg) scale(50%);
}
.day > .fomoji_943 img:not(:first-of-type) {
  animation: bobbing_943 3s ease-in-out infinite;
}

.night > h1 {
  width: 26%;
  padding: 5% 5% 0;
}
.night > .tracklist {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease-in, transform 350ms ease-in;
}
.night > .notice {
  margin: 0;
  max-width: 50%;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}
.night > .notice .tedy_icon, .night > .notice .lexicon_logo {
  display: inline-block;
  height: initial;
  visibility: visible;
  width: 100%;
}
.night > .catyright {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease-in, transform 350ms ease-in;
}
.night > .fomoji_112 img:not(:first-of-type) {
  animation: bobbing_112n 3s ease-in-out infinite;
}
.night > .fomoji_914 img {
  left: -30%;
}
.night > .fomoji_914 img:not(:first-of-type) {
  animation: bobbing_914n 3s ease-in-out infinite;
}
.night > .fomoji_943 img {
  right: -30%;
}
.night > .fomoji_943 img:not(:first-of-type) {
  animation: bobbing_943n 3s ease-in-out infinite;
}

@keyframes bobbing_112 {
  0%, 100% {
    transform: rotate(180deg) scale(45%) translateY(0);
  }
  50% {
    transform: rotate(180deg) scale(45%) translateY(-10px);
  }
}
@keyframes bobbing_914 {
  0%, 100% {
    transform: rotate(35deg) scale(50%) translateY(0);
  }
  50% {
    transform: rotate(35deg) scale(50%) translateY(-10px);
  }
}
@keyframes bobbing_943 {
  0%, 100% {
    transform: rotate(-35deg) scale(50%) translateY(0);
  }
  50% {
    transform: rotate(-35deg) scale(50%) translateY(-10px);
  }
}
@keyframes bobbing_112n {
  0%, 100% {
    transform: scale(45%) translateY(0);
  }
  50% {
    transform: scale(45%) translateY(-10px);
  }
}
@keyframes bobbing_914n {
  0%, 100% {
    transform: scale(40%) translateY(0);
  }
  50% {
    transform: scale(40%) translateY(-10px);
  }
}
@keyframes bobbing_943n {
  0%, 100% {
    transform: scale(40%) translateY(0);
  }
  50% {
    transform: scale(40%) translateY(-10px);
  }
}