html {
	font-size: 1.3em;
}

h2 {
	@include fluid-type(480px, 620px, 17px, 41px);
}

p {
	@include fluid-type(540px, 620px, 13px, 17px);
}

p, h2 {
	font-family: 'Jost', system-ui, sans-serif;
}

::-moz-selection { background: $primary; color: $black; }
::selection { background: $primary; color: $black; }
