		.product_img {
			position: relative;
		}

				.gallery ul {
					display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
					height: 100%;
					list-style-position: inside;
					list-style-type: none;
					padding: 0;
					width: 100%;
				}

					.gallery li {
						border: 10px solid #ededed;
						cursor: pointer;

						&:first-child {
							border: none;
							flex: 1 0 100%;
							margin-bottom: em(20px);
							position: relative;
						}

						&:nth-child(2), &:nth-child(3), &:nth-child(4) {
							flex: 0 1 30.6667%;
						}

						img {
							height: 100%;
							width: 100%;
						}
					}

			.product_desc {
				font-size: em(24px);
			}

			.product_price {
				font-size: em(40px);
			}


@media only screen and (min-width: em(700px)) {

	.product_item__wrap {
		display: flex;
		padding: em(50px);
	}

		.product_img {
			flex: 0 1 57%;
		}

		.product_txt {
			flex: 0 1 43%;
			padding-left: em(50px);
		}

		.product_price {
			font-size: em(65px);
		}

}

@media only screen and (min-width: em(1250px)) {

	.product_item {
		margin: 0 auto;
		max-width: em(1200px);
	}

}
